@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');
/* Estilos para o header */
.header {
  font-family: 'Newsreader', serif;
  text-align: left;
  color: white;
  font-size: larger;
  padding: 1px;
  background-color: #3450d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute; /* Faz com que o header fique parado no topo do conteúdo */
  top: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0px;
    text-align: center;
  }
}


/* Estilos para o ícone do menu */
.menu-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 35px; /* Espaçamento entre o ícone e o texto */
}

/* Estilos para a lista de opções do menu */
.menu-list {
  display: none;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 98px;
  right: 3px;
}

.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  color: black;
  padding: 8px;
}
/* Mostrar o menu quando a classe .show-menu estiver presente */
.show-menu .menu-list {
  display: block;
}
a{
  text-decoration: none;
  color: blue;
}
