<div class="formulario">
  <form class="form" [formGroup]="formgroup" (ngSubmit)="onSubmit()">
    <div class="name">
      <label for="username">Nome de Usuário:</label>
      <input type="text" id="username" formControlName="username" placeholder="Usuário" [(ngModel)]="name">
      <div>
        Nome de usuário é obrigatório.
      </div>
    </div>

    <div class="password">
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password" placeholder="Senha com 8 caracteres">
      <div >
        Senha é obrigatória e deve ter no mínimo 8 caracteres.
      </div>
    </div>

    <div class="email">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" placeholder="Gmail@gmail.com">
      <div>
        Email é obrigatório e deve ser válido.
      </div>
    </div>

    <button type="submit">Enviar</button>
      <div class="welcome"><h2>Welcome</h2> {{name}}</div>
  </form>
</div>
