<div class="formulario">
  <form class="form" [formGroup]="formgroup" (ngSubmit)="onSubmit()">
    <div class="login"><h1>login</h1></div>
    <div class="name">
      <label for="username"></label>
      <input type="text" id="username" formControlName="username" placeholder="Usuário">
    </div>

    <div class="password">
      <label for="password"></label>
      <input type="password" id="password" formControlName="password" placeholder="Senha">
    </div>

    <button type="submit">Enviar</button>
  </form>
</div>
