<div class="formulario">
  <form class="form" [formGroup]="formgroup" (ngSubmit)="onSubmit()" >
    <div class="cadastro"><h1>cadastre-se</h1></div>

    <div class="nome">
      <label for="nome"></label>
      <input type="text" id="nome" formControlName="nome" placeholder="Nome">
    </div>

    <div class="sobrenome">
      <label for="sobrenome"></label>
      <input type="text" id="sobrenome" formControlName="sobrenome" placeholder="Sobrenome">
    </div>

    <div class="email">
      <label for="email"></label>
      <input type="email" id="email" formControlName="email" placeholder="Email">
    </div>

    <div class="password">
      <label for="password"></label>
      <input type="password" id="password" formControlName="password" placeholder="Senha">
    </div>

    <div class="data-nascimento">
      <label for="data-nascimento"></label>
      <input type="date" id="data-nascimento" formControlName="dataNascimento" placeholder="data de nascimento">
    </div>

    <div class="genero">
      <label for="genero">Gênero:</label>
      <div>
        <input type="radio" id="masculino" name="genero" value="masculino" formControlName="genero">
        <label for="masculino">Masculino</label>
      </div>
      <div>
        <input type="radio" id="feminino" name="genero" value="feminino" formControlName="genero">
        <label for="feminino">Feminino</label>
      </div>
    </div>

    <button type="submit">cadastre-se</button>
  </form>
</div>
